* {
  box-sizing: border-box;
}

:root {
  --pmr-color: #292a2c;
  --scd-color: #f0f0f0;
  --winning-blocks: #db4545;
}

@font-face {
  font-family: "tttgame";
  src: url(font/StraightHand.ttf);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "tttgame", cursive;

  display: grid;
  grid-template-rows: 20% 70% 10%;
}

header {
  display: grid;
  align-items: center;
  justify-items: center;
}

#headTitle {
  display: grid;
  font-size: 12vh;
  margin: 0;
  transition: all 0.3s ease;
}

#headTitle:hover {
  color: var(--winning-blocks);
}

main {
  display: grid;
  align-items: center;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 90px;
  cursor: pointer;
  border: 0;
  background-color: var(--pmr-color);
  color: white;
  transition: all 0.5s ease;
  text-align: center;
}

.cell:active {
  width: 120px;
  height: 50px;
  font-size: 18px;
  background-color: #0056b3;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#restartBtn {
  margin: 1vh;
  border: 0;
  background-color: var(--pmr-color);
  color: var(--scd-color);
  font-size: 4vh;
  font-family: "tttgame";
  cursor: pointer;
  transition: all 0.2s ease;
}

#restartBtn:hover {
  color: var(--winning-blocks);
}

#restartBtn:active {
  border-radius: 50px;

  font-size: 1vh;
}

footer div {
  margin: 1vh;
  background-color: var(--pmr-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#statusText {
  font-size: 3vh;
  color: var(--scd-color);
}
